@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat&family=Indie+Flower&family=Caveat&display=swap');

:root {
  --blue: rgb(134, 173, 255);
  --red: rgb(255, 108, 108);
  --width: 600px;
  --minwidth: 550px;
  overflow: hidden;
}

html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  font-family: 'Indie Flower';
  transition: 1s ease;

  /* allow mouse dragging. */
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* disable touch panning/zooming */
  -ms-touch-action: none;
  touch-action: none;

  /* let canvas take up full screen */
  margin: 0;

  transition: 1s ease;
}

h1 {
  font-size: 45px;
  font-weight: normal;
  color: white;
}

button {
  font-family: 'Indie Flower';
  font-size: 24px;
  outline: none;
  border: none;
  padding: 5px 10px;
  margin: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#ch1 {
  opacity: 0%;
  animation: fadeIn 2s ease-in 0s 1 forwards;
}

#ch1-name {
  opacity: 0%;
  animation: fadeIn 3s ease-in 1s 1 forwards;
}

.btn1 {
  font-size: 30px;
  padding: 0;
  background-color: black;
  color: white;
  opacity: 0%;
  animation: fadeIn 1s ease-in 4s 1 forwards;
}
.btn1:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.fadeIn {
  animation: fadeIn .5s ease-in 0s 1 forwards;
}

.fadeOut {
  animation: fadeOut .5s ease-in 0s 1 forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

#title-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-color: black;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s ease;
  z-index: 100;
}

#screen canvas {
  margin: 0px;
  z-index: 0;
}

#menu-btn {
  z-index: 30;
  position: absolute;
  top: 20px;
  left: calc(100vw - 90px);
  font-size: 40px;
  background-color: transparent;
  opacity: 40%;
}
#menu-btn:hover {
  opacity: 100%;
}

#menu {
  position: absolute;
  top: 0px;
  left: calc(70vw);
  width: 30vw;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  border: 5px solid black;
  z-index: 25;
}

#stats-title {
  font-size: 36px;
  margin-bottom: 0px;
}

.stat {
  font-size: 24px;
}

#speech-container {
  position: absolute;
  top: 5%;
  left: calc(32vw);
  transition: 1s ease;
  z-index: 20;
  opacity: 0%;
}

#speech-box {
  width: 36vw;
  min-width: 200px;
  height: fit-content;
  padding: 30px 30px 20px 30px;
  min-height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#npc-name {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  background-color: transparent;
  color: black;
  padding: 4px 10px 0px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-transform: uppercase;
}

#ok-btn {
  width: 100%;
  padding: 0;
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
  background-color: transparent;
  opacity: 100%;
  animation: none;
}